/*
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
*/

                      /*    Общие стили для всей страницы     */


body {
  padding: 0;
  margin: 0;

}

      /*  Шапка  --Header-- */

.main-header {
  background-color: #f7e296;


}

               /* Слайдер  */
.slider-item {
  width: 1069px;
  height: 486px;

}

.slider-item-headline {
  font-size: 47px;
  margin-left: 600px;
  line-height: 60px;
}

.slider-item p {
  font-size: 15px;
  margin-left: 600px;
}

.slider-item a {
  font-size: 18px;
  margin-left: 600px;
}

.slider-item table {
  margin-left: 600px;
}

.slider-item-1 {
  background-image: url('../img/slider-1.png');
  background-repeat: no-repeat;
  background-position: 10% 0;
}

.slider-item-2 {
  background-image: url('../img/slider-2.png');
  background-repeat: no-repeat;
  background-position: 15% 0;
 }

 .slider-item-3 {
  background-image: url('../img/slider-3.png');
  background-repeat: no-repeat;
  background-position: 5% 0;
 }

.slider-item-data-column
.value {
  font-size: 36px;
  line-height: 48px;
}

.slider-item-data-column
.description {
  font-size: 13px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
