/*  Шрифты  */

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src:  url(../fonts/opensans.woff2 ) format("woff2"),
        url(../fonts/opensans.woff ) format("woff"),
        url(../fonts/opensans-regular.ttf ) format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src:  url(../fonts/opensanslight.woff2 ) format("woff2"),
        url(../fonts/opensanslight.woff ) format("woff"),
        url(../fonts/opensans-light.ttf ) format("ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src:  url(../fonts/gilroylight.woff2) format("woff2"),
        url(../fonts/gilroylight.woff ) format("woff"),
        url(../fonts/gilroylight.ttf ) format("ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src:  url(../fonts/gilroyextrabold.woff2) format("woff2"),
        url(../fonts/gilroyextrabold.woff ) format("woff"),
        url(../fonts/gilroyextrabold.ttf ) format("ttf");
}

                      /*    Общие стили для всей страницы     */

body {
  padding: 0;
  margin: 0;
  min-width: 1200px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

            /*  Желтая кнопка */

.btn-decor-yellow {
  color: #000000;
  font-weight: 700;
  text-align: center;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  cursor: pointer;
  background-image: linear-gradient(transparent 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, transparent 60%);
}

.btn-decor-yellow:hover {
  color: #000000;
  background-color: rgba(240, 197, 46, 1);
  background-image: none;
  letter-spacing: 0.2em;
}

.btn-decor-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
  background-image: none;
  letter-spacing: 0.2em;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
                         /*  Шапка  --Header-- */
.main-nav {
  padding-top: 34px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 47px;
  color: #000000;
  background-color: #f7e296;
}

.header-wrapper {
  margin-top: 40px;
  min-height: 170px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.header-container {
  position: relative;
}

.main-nav a {
  color: #000000;
}

.main-nav-user-menu,
.main-nav-menu-list,
.main-nav-submenu,
.main-nav-submenu-list,
.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-wrapper.inner-page {
  min-height: 203px;
  margin-bottom: 0;
}

.main-nav-logo-link,
.main-nav-logo {
  position: absolute;
  top: -18px;
  left: 80px;
}

.main-nav-logo-link:hover {
  opacity: 0.6;
}

.main-nav-logo-link:active {
  opacity: 0.3;
}

.main-nav-user-menu {
  display: flex;
  min-height: 30px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav-user-menu-link {
  position: relative;
}

.main-nav-user-menu-link.main-nav-enter::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -26px;
  width: 15px;
  height: 15px;
  background-image: url(../img/user-header.svg);
  background-repeat: no-repeat;
}

.main-nav-user-menu-link.main-nav-name::after {
  position: absolute;
  content: "";
  top: 8px;
  left: -26px;
  width: 15px;
  height: 15px;
  background-image: url(../img/user-header.svg);
  background-repeat: no-repeat;
}

.main-nav-user-menu-link.main-nav-compare-link::after {
  position: absolute;
  content: "";
  top: 12px;
  left: -19px;
  width: 15px;
  height: 15px;
  background-image: url(../img/compare-header.svg);
  background-repeat: no-repeat;
}

.main-nav-user-menu-link.main-nav-cart-link::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -19px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-header.svg);
  background-repeat: no-repeat;
}

.main-nav-exit {
  margin-left: 20px;
  opacity: 0.3;
}

.main-nav-user-menu-list-item .main-nav-cart-link {
  margin-left: 58px;
}

.main-nav-user-menu-list-item .main-nav-compare-link {
  margin-left: 234px;
}

.main-nav-user-menu-link.main-nav-compare-link-inner {
  margin-left: 75px;
}


.main-nav-user-menu-list-item .main-nav-enter {
  padding-left: 0;
}

.main-nav-list {
  align-items: center;
  justify-content: space-between;
}

.main-nav-list,
.main-nav-search-form {
  display: flex;
}

.main-nav-search-btn {
  margin: 0;
  padding: 0;
  background-color: #f7e296;
  width:85px;
  height:49px;
  border: none;
  display: none;
  border-bottom: 2px solid #f7e296;
}

.main-nav-search-data {
  display: inline-block;
  vertical-align: middle;
  height: 49px;
  position: relative;
  background-color: #f7e296;
  padding-left: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  border: none;
  border-bottom: 2px solid #f7e296;
  background-image: url(../img/search-header.svg);
  background-repeat: no-repeat;
  background-position: 5px 51% ;
}

/*  Стилизация Placeholder-a в строке поиска */

.main-nav-search-form input[type="search"]::-moz-placeholder {
  opacity: 0.3;
}

.main-nav-search-form input[type="search"]::placeholder {
  opacity: 0.3;
}

.main-nav-search-form input[type="search"]:-ms-input-placeholder {
  opacity: 0.3;
}

.main-nav-search-form input[type="search"]::-ms-input-placeholder {
  opacity: 0.3;
}

.main-nav-search-form input[type="search"]:-webkit-input-placeholder {
  opacity: 0.3;
}

/*  Стилизация Placeholder-a :HOVER */

.main-nav-search-form input[type="search"]:hover::-moz-placeholder {
  opacity: 0.6;
}

.main-nav-search-form input[type="search"]:hover::placeholder {
  opacity: 0.6;
}

.main-nav-search-form input[type="search"]:hover:-ms-input-placeholder {
  opacity: 0.6;
}

.main-nav-search-form input[type="search"]:hover::-ms-input-placeholder {
  opacity: 0.6;
}

.main-nav-search-form input[type="search"]:hover:-webkit-input-placeholder {
  opacity: 0.6;
}

.main-nav-search-data:focus {
  background-color: #f7e296;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  display: block;
}

.main-nav-search-data:focus + .main-nav-search-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: block;
}

.main-nav-search-data:focus + .main-nav-search-btn {
  border: 2px solid #000000 ;
  background-color: #f7e296;
  width:85px;
  height:49px;
  display: block;
}

.main-nav-search-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: block;
}

.main-nav-search-btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: none;
  display: block;
}

.main-nav-user-menu-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.01em;
}

.main-nav-user-menu-link.main-nav-name {
  letter-spacing: 0.011em;
}

.main-nav-user-menu-link:hover {
  opacity: 0.6;
}

.main-nav-user-menu-link:active {
  opacity: 0.3;
}

.main-nav-menu-item {
  position: relative;
}

.main-nav-menu-item
.main-nav-submenu {
  display: none;
  position: absolute;
  top: 20px;
  left: -60px;
  min-height: 143px;
  width: 1160px;
  padding-top: 25px;
  background-color:#f7e296;
  z-index: 5;
}

.main-nav-menu-item:hover .main-nav-submenu,
.main-nav-menu-item:focus + .main-nav-submenu,
.main-nav-menu-item-link:focus + .main-nav-submenu {
  display: flex;
  position: absolute;
  top: 20px;
  left: -60px;
  min-height: 143px;
  width: 1160px;
  padding-top: 25px;
  background-color:#f7e296;
  z-index: 5;
}

.main-nav-menu-item {
  width: 130px;
}

.nav-menu-submenu-item {
  width: 52%;
}

.nav-menu-item-delivery {
  margin-right: 30px
}

.nav-menu-item-warranty {
  margin-right: 0px
}

.nav-menu-item-contacts {
  margin-left: auto;
  margin-right: -12px;
  box-sizing: border-box;
}

.main-nav-menu-list {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.nav-menu-submenu-item .main-nav-menu-item-link::before {
  position: absolute;
  content: "";
  background-image: url(../img/plus-catalog-header.svg);
  background-repeat: no-repeat;
  right: 293px;
  top: 4px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.main-nav-menu-item-link {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-nav-menu-item-link:hover {
  opacity: 0.6;
}

.main-nav-menu-item-link:active {
  opacity: 0.3;
}

.submenu-1 {
  display: block;
  width: 200px;
  padding-left: 60px;
}

.submenu-2 {
  display: block;
  width: 160px;
  padding-left: 40px;
}

.submenu-3 {
  display: block;
  width: 160px;
  padding-left: 40px;
}

.main-nav-submenu-list-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: -0.01em;
  font-weight: 300;
  color: #000000;
}

.main-nav-submenu-list-link:hover {
  opacity: 0.6;
}

.main-nav-submenu-list-link:active {
  opacity: 0.3;
}

.main-nav-submenu-list-link:focus {
  outline: 1px solid rgb(160, 248, 248);
}

         /*   Главная страница - контент <Main>  */

                    /* Слайдер  */
.slider {
  position: relative;
  margin-bottom: 0;
}

.slider-toggle {
  position: absolute;
  top: 326px;
  left: 1020px;
  z-index: 5;
}

.slider-toggle {
  position: relative;
  margin-right: 17px;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border: 2px solid #818181;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle:last-child {
  margin-right: 0;
}

.slider-items {
  position: relative;
}

.slider-items::before {
  position:absolute;
  content:"";
  top: -24px;
  left: 20px;
  width:1160px;
  height: 117px;
  background:#f7e296;
  z-index: -1;
}

            /* Картинки товара на сладере фоновые  */

.slider-item-1::after {
  position: absolute;
  content: "";
  width: 384px;
  height: 486px;
  top: -19px;
  left: 111px;
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item-2::after {
  position: absolute;
  content: "";
  width: 345px;
  height: 485px;
  top: -7px;
  left: 137px;
  background-image: url(../img/slider-2.png);
  background-repeat: no-repeat;
  background-position: 15% 0;
}

.slider-item-3::after {
  position: absolute;
  content: "";
  width: 526px;
  height: 334px;
  top: 45px;
  left: 52px;
  background-image: url(../img/slider-3.png);
  background-repeat: no-repeat;
  background-position: 5% 0;
}
          /*  Цифры фоновые на слайдере 1 2 3  */

.slider-item-1::before {
  position: absolute;
  content: "01";
  right: 66px;
  top: -33px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-item-2::before {
  position: absolute;
  content: "02";
  right: 64px;
  top: -33px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-item-3::before {
  position: absolute;
  content: "03";
  right: 64px;
  top: -33px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-item {
  display: none;
  width: 1069px;
  height: 486px;
  margin-right: 20px;
  margin-left: 110px;
  margin-bottom: 45px;
  padding-top: 42px;
}

#slider-1:checked ~ .slider-items .slider-item-1,
#slider-2:checked ~ .slider-items .slider-item-2,
#slider-3:checked ~ .slider-items .slider-item-3 {
  display: block;
}

#slider-3:checked ~ .slider-3::after,
#slider-2:checked ~ .slider-2::after,
#slider-1:checked ~ .slider-1::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  top: 1px;
  left: 1px;
  border: 2px solid #818181;
  border-radius: 50%;
  cursor: pointer;
}

.slider-item-headline {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  padding: 0;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 0;
  margin-right: 30px;
  margin-left: 512px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.slider-item-headline::before {
  position: absolute;
  content: "";
  display: block;
  top: -23px;
  left: 0px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-item p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.01em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-left: 511px;
  padding-right: 70px;
  padding-bottom: 43px;
}

.btn-slider-more-info.btn-decor-yellow {
  display: inline-flex;
  margin-bottom: 48px;
  align-items: center;
  justify-content: center;
  width: 220px;
}

.slider-item a {
  font-size: 18px;
  margin-left: 512px;
}

.slider-item table {
  margin-left: 508px;
}

.slider-item-data-column
.value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: #000000;
}

.slider-item-data-column
.description {
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
}

.slider-item-data-column .value,
.slider-item-data-column .description {
  width: 138px;
  padding: 0;
}

.slider-item-data-column .value {
  padding-bottom: 5px;
}

.slider-item-data-column .value:first-child,
.slider-item-data-column .description:first-child {
  width: 158px;
  padding: 0;
}

               /*   Разделы каталога по категориям  */

.catalog-items {
  min-height: 243px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 78px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 160px;
  height: 160px;
  list-style: none;
  margin-right: 40px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item-link {
  box-sizing: border-box;
  padding-top: 160px;
  position: relative;
  display: block;
  color: #000000;
  letter-spacing: 0.01em;
  font-weight: 700;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-item-link:hover {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-item-link span {
  display: block;
  height: 50px;
  width: 160px;
  padding-top: 32px;
  padding-left: 1px;
}

.item-link-6  span,
.item-link-1  span,
.item-link-2  span {
  width: 159px;
}

.item-link-1::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item-link:active::before,
.catalog-item-link:active .catalog-item-description,
.catalog-item-description:active + .catalog-item-link::before {
  opacity: 0.3;
}

.item-link-2::before {
  position: absolute;
  content: "";
  width: 158px;
  height: 160px;
  top: 1px;
  left: 2px;
  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
  background-position: center 93%;
}

.item-link-3::before {
  position: absolute;
  content: "";
  width: 156px;
  height: 160px;
  top: 1px;
  left: 5px;
  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.item-link-4::before {
  position: absolute;
  content: "";
  width: 158px;
  height: 160px;
  top: 2px;
  left: 3px;
  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.item-link-5::before {
  position: absolute;
  content: "";
  width: 158px;
  height: 160px;
  top: 1px;
  left: 3px;
  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.item-link-6::before {
  position: absolute;
  content: "";
  width: 158px;
  height: 160px;
  top: 3px;
  left: 0;
  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

                  /*   Слайдер Сервисов    */

.wrapper-services {
  position: relative;
  margin-bottom: 95px;
  display: flex;
}

.wrapper-services::after {
  position: absolute;
  content: "";
  top: 100px;
  left: 0;
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  z-index: -1;
}

.wrapper-services-column-1 {
  flex-grow: 1;
}

wrapper-services-column-2 {
  flex-grow: 1;
}

.services-data {
  display: flex;
  min-width: 1160px;
  min-height: 388px;
  margin-right: 20px;
  margin-left: 20px;
}

.services-data-controls {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 81px;
  padding-bottom: 33px;
  width: 280px;
  margin-right: 0;
  position: relative;
}

.services-data-controls::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
  left: 278px;
  top: 0px;
}

.services-data-control {
  min-width: 280px;
  align-content: center;
  margin-bottom: 25px;
}

/*  Переопрееляем кнопку переключения слайдера */

.btn-decor-yellow.services-data-control {
  display: inline-flex;
  min-width: 160px;
  align-items: center;
  justify-content: center;
}

.btn-decor-yellow.services-data-control:hover {
  display: inline-flex;
  background-image:none;
  min-width: 160px;
  align-items: center;
  justify-content: center;
}

.btn-decor-yellow.services-data-control:active {
  display: inline-flex;
  color: #f7e184;
  background-color: #000000;
  background-image:none;
  width: 278px;
  padding-right: 120px;
  align-items: center;
  justify-content: center;
}

  /*  функционал слайдера на CSS  Доставка - Гаранития - Кредит  */

.services-data-feature {
  display: none;
}

#service-1:checked ~ .services-data-features .delivery,
#service-2:checked ~ .services-data-features .warranty,
#service-3:checked ~ .services-data-features .credit {
  display:block;
}

#service-1:checked ~ .services-data-controls .data-control-1,
#service-2:checked ~ .services-data-controls .data-control-2,
#service-3:checked ~ .services-data-controls .data-control-3 {
  display: inline-flex;
  color: #f7e184;
  background-color: #000000;
  background-image:none;
  width: 278px;
  padding-right: 120px;
  align-items: center;
  justify-content: center;
}

.services-data-feature-headline {
  font-size: 47px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-left: 6px;
  padding-bottom: 18px;
}

.services-data-feature p {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.012em;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
}

.services-data-feature {
  box-sizing: border-box;
  margin-left: 117px;
  padding-top: 33px;
  padding-right: 340px;
  width: 770px;
  min-height: 250px;
}

.delivery {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: right 72px bottom 9px;
}

.warranty {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: right 53px bottom 2px;
}

.credit {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: right 76px bottom 39px;
}
                   /*   Блок  бренды  */

.brends {
  margin-bottom: 100px;
}

.brend-items {
  display: flex;
  list-style: none;
  min-height: 100px;
  padding: 0;
  margin-right: 23px;
  margin-left: 20px;
}

.brend-item {
  display: block;
  margin-right: 40px;
}
/*
  opacity: 0.2;
  filter: grayscale(1);  (Жаль не работает в IE11) это временное решение
  list-style: none;
*/

.brend-item.brend-go-pro {
  margin-right: 37px;
}

.brend-item.brend-vive {
  margin-right: 0;
}

.brend-item-link {
  position: relative;
  display: block;
  width: 260px;
  height: 100px;
}

.brend-dji:hover::before {
  position: absolute;
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url(../img/logo-1.jpg);
  background-repeat: no-repeat;
  z-index: 3;
}

.brend-spgadgets:hover::before {
  position: absolute;
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url(../img/logo-2.jpg);
  background-repeat: no-repeat;
  z-index: 3;
}

.brend-go-pro:hover::before {
  position: absolute;
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url(../img/logo-3.jpg);
  background-repeat: no-repeat;
  z-index: 3;
}

.brend-vive:hover::before {
  position: absolute;
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url(../img/logo-4.jpg);
  background-repeat: no-repeat;
  z-index: 3;
}

/*
.brend-item:hover {
  opacity: 1;
  filter: grayscale(0);   ( Жаль не работает в IE11 ) думаю может сделать спрайтом ?
} */

                      /* О нас и Контакты  */

.shop-data {
  display: flex;
  margin-bottom: 82px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
}

.shop-data-about-us {
  width: 480px;
  position: relative;
  margin-right: 38px;
}

/* Черные палочки над блоком контакты и инфа про магазин */

.shop-data-about-us::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: -12px;
  left: 2px;
  background-color: #000000;
}

.shop-data-contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: -12px;
  left: 82px;
  background-color: #000000;
}

.shop-data-contacts {
  position: relative;
  width: 560px;
  margin-right: 20px;
  padding-left: 80px;
}

.shop-data-contacts p {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.shop-data-about-us,
.shop-data-contacts p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.shop-data-contacts p {
  letter-spacing: -0.015em;
}

.shop-data-about-us-info-1,
.shop-data-about-us-info-2 {
  margin: 0;
  padding: 0;
  min-width: 485px;
}

.shop-data-about-us-info-1 {
  letter-spacing: -0.015em;
  padding-top: 15px;
  padding-bottom: 30px;
}

.shop-data-about-us-info-2 {
  letter-spacing: -0.013em;
  padding-bottom: 22px;
}

.shop-data-about-us-headline,
.shop-data-contacts-headline {
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 42px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.shop-data-about-us-headline {
  padding-bottom: 28px;
}

.delivery-vendors-list {
  margin-left: 23px;
}

.delivery-vendors {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 51px;
  margin-left: 0;
  list-style-image: url(../img/slider-button.svg);
}

.delivery-vendors li {
  padding-bottom: 1px;
}

.delivery-vendor {
  padding-left: 13px;
  color: #000000;
}

.btn-about-us.btn-decor-yellow,
.btn-write-us.btn-decor-yellow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 24px;
}

.shop-data-contacts-map-link {
  display: block;
  min-width: 560px;
  min-height: 222px;
  margin-bottom: 70px;
  margin-left: 3px;
}

.shop-data-contacts-map-link img {
  vertical-align: bottom;
}

                /* Вторая страница  catalog.html */

.breadcrumbs,
.catalog-top-sorting-list,
.catalog-top-arrows {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-user-menu-list-item,
.catalog-content,
.catalog-content-items,
.catalog-top-sorting-list,
.catalog-top-sorting {
  display: flex;
}

.catalog-content {
  position: relative;
}

.page-headline {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.01em;
  margin-bottom: 25px;
  margin-top: 20px;
  padding-left: 80px;
}
                     /*  Хлебные крошки   */
.breadcrumbs {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  margin-bottom: 45px;
  padding: 0px;
  padding-left: 80px;
}

.breadcrumbs-item-2 {
  margin-left: 15px;
}

.breadcrumbs-end {
  margin-left: 15px;
}

.breadcrumbs-link {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 1)
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 8px;
  right: 2px;
  width: 4px;
  height: 4px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(-45deg);
}

                    /* Фильтр товаров - Сортировка */

.catalog-top {
  position: relative;
  display: flex;
}

.catalog-top-column-1 {
  display: flex;
  justify-content: flex-end;
  background-color:#dbdbdb;
  flex-grow:1;
}

.catalog-top-column-2 {
  background-color: #ebebeb;
  flex-grow:1;
}

.main-container-inner,
.catalog-top-wrapper {
  display: flex;
}

.catalog-top-filter {
  display: block;
  background-color: #dbdbdb;
  min-width: 328px;
  min-height: 70px;
  margin-right: 0 auto;
}

.catalog-top-sorting-list {
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.catalog-top-arrows {
  position: relative;
  display: flex;
  margin: 0 0 0 auto;
  box-sizing: border-box;
}

.catalog-top-sorting-arrow-up {
  display: block;
  width: 0;
  margin-left: 0;
  border: 10px solid transparent;
  border-right-width: 6px;
  border-left-width: 6px;
  border-top-width: 0;
  border-bottom-color: #000000;
  opacity: 0.2;
}

.catalog-top-sorting-arrow-down {
  display: block;
  width: 0;
  margin-left: 19px;
  border: 10px solid transparent;
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-width: 0;
  border-top-color: #000000;
}

.catalog-top-sorting-arrow-up:hover {
  opacity: 0.4;
}

.catalog-top-sorting-arrow-up:active {
  opacity: 1;
}

.catalog-top-sorting-arrow-up:focus {
  outline: 3px solid rgb(100, 172, 172);
}

.sorting-list-item-price {
  margin-left: 49px;
}

.sorting-list-item-type {
  margin-left: 28px;
}

.sorting-list-item-popularity {
  margin-left: 33px;
}

.catalog-top-sorting {
  background-color: #ebebeb;
  min-height: 70px;
  min-width: 832px;
  margin-left: 0 auto;
  align-items: center;
}

.catalog-top-sorting-link.checked {
  opacity: 1;
}

.catalog-top-sorting-link {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-top-sorting-link:hover {
  opacity: 0.6;
}

.catalog-top-sorting-link:active {
  opacity: 1;
}

.catalog-top-filter-headline,
.catalog-top-sorting-headline {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.24em;
}

.catalog-top-filter-headline {
  padding: 0;
  padding-left: 60px;
  padding-top: 10px;
}

.catalog-top-sorting-headline {
  padding-left: 72px;
}

               /*  Фильтр - чекбоксы  */
.catalog-content-control-value,
.catalog-content-controls {
  position: relative;
}

.filter-btn {
  margin-top: 32px;
  width: 200px;
  background-color: #efefef;
}

.catalog-content-control-btn-box {
  position: relative;
  min-height: 25px;
}

.catalog-content-control-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  z-index: 3;
  cursor: pointer;
}

.catalog-content-control-btn:active {
  top: 0px;
  left: 0;
  border: 7px solid #ffffff;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1),
              0 4px 2px 0 rgba(0, 1, 1, 0.2);
}

.control-btn-max {
  margin-left: 107px;
}

.control-btn-min {
  margin-left: -4px
}

.catalog-content-control-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em;
  font-weight: 300;
  opacity: 0.2;
  padding-bottom: 22px;
}

.catalog-content-control-line {
  position: absolute;
  top: 10px;
  left: 0;
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  z-index: 1;
}

.active-control-line {
  position: absolute;
  right: 85px;
  top: 0;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.catalog-content-max-value {
  margin-left: 60px;
}

.catalog-content-filter,
.catalog-content-filter-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog-content-filter {
  background-color: #efefef;
  min-width: 328px;
  min-height: 1217px;
}

.catalog-content-filter-form {
  padding-left: 60px;
  padding-top: 60px;
}

.catalog-filter-box,
.catalog-filter-radio {
  position: relative;
  padding-left: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.catalog-filter-headline {
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.01em
}

.catalog-filter-headline::before {
  position: absolute;
  content: "";
  width: 201px;
  height: 2px;
  top: 8px;
  left: 0;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-filter-headline {
  padding-top: 20px;
}

.filter-headline-price {
  padding-bottom: 25px;
}

.filter-headline-color {
  padding-bottom: 20px;
}

.catalog-filter-box.pink {
  padding-bottom: 20px;
}

.filter-headline-bluetoth {
  padding-bottom: 17px;
}

.catalog-filter-box::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 6px;
  left: 0;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

#pink:checked  ~ .pink.catalog-filter-box::before,
#red:checked  ~ .red.catalog-filter-box::before,
#blue:checked  ~ .blue.catalog-filter-box::before,
#white:checked  ~ .white.catalog-filter-box::before,
#black:checked  ~ .black.catalog-filter-box::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  top: 6px;
  left: 0;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.catalog-filter-radio::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 8px;
  left: 0;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

#btn-radio-no:checked ~ .radio-no.catalog-filter-radio::before,
#btn-radio-yes:checked ~ .radio-yes.catalog-filter-radio::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 8px;
  left: 0;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.catalog-content-filter-form input[type="checkbox"]:checked:active,
.catalog-filter-box:active {
  opacity: 1;
}

.catalog-content-filter-form input[type="checkbox"]:checked:hover,
.catalog-content-filter-form input[type="checkbox"]:hover,
.catalog-filter-box:hover,
.catalog-filter-radio:checked:hover,
.catalog-filter-radio:hover {
  opacity: 0.6;
}

.catalog-filter-radio:focus + .catalog-filter-radio::before,
.catalog-filter-input:focus + .catalog-filter-box::before {
  outline: 1px solid rgb(160, 248, 248);
}

.catalog-content-filter-form input[type="checkbox"]:checked:disabled,
.catalog-filter-radio:disabled,
.catalog-filter-radio:checked:disabled,
.catalog-content-filter-form input[type="checkbox"]:disabled {
  opacity: 0.25;
}

       /*  Каталог товаров интернет магазина Device  */

.catalog-content-wrapper{
  display: flex;
}

.catalog-content-container {
  display: block;
}

.catalog-content-column-1 {
  display: flex;
  flex-grow: 1;
  background-color: #efefef;
  justify-content: flex-end;
}

.catalog-content-column-2 {
  flex-grow: 1;
  background-color: #ffffff;
}

.catalog-content-items {
  box-sizing: border-box;
  width: 832px;
  min-height: 1217px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 72px;
  padding-top: 69px;
  padding-bottom: 76px;
}

.catalog-content-title {
  margin: 0;
  padding: 0;
}

.item-new::after {
  position: absolute;
  box-sizing: border-box;
  content: "new";
  width: 58px;
  height: 58px;
  top: 29px;
  right: 29px;
  color: rgba(0, 0, 0,0.2);
  text-align: center;
  padding-top: 16px;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0,0.1);
  border-radius: 50%;
  background-color: transparent;
  font-size: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.catalog-content-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 360px;
  min-height: 460px;
  margin-bottom: 45px;
}

.catalog-content-item:not(:hover) .catalog-content-item-options {
  display: none;
}

.catalog-content-item img {
  width: 360px;
  height: 379px;
  display: block;
}

.catalog-content-item img:hover {
  opacity: 0.7;
}

.catalog-content-item-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 379px;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  padding-top: 23px;
  padding-right: 3px;
}

.catalog-content-item-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
}

.btn-to-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-weight: 300;
  opacity: 0.5;
  color: #000000;
  display: block;
  margin-top: 7px;
  padding-left: 6px
}

.btn-to-compare:hover {
  opacity: 1;
}

.btn-to-compare:active {
  opacity: 0.2;
}

.btn-to-cart.btn-decor-yellow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.btn-to-cart:hover {
  opacity: 1;
}

.catalog-content-item-headline {
  margin: 0;
  padding: 0;
}

.catalog-content-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;;
  letter-spacing: 0.01em;
  width: 260px;
  min-height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.item-link-short {
  width: 230px;
}

.catalog-content-item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 300;
  margin-left: 20px;
}

               /* Пагинация страниц каталога */

.catalog-pagination {
  display: flex;
  min-width: 760px;
  height: 70px;
  background-color: #ebebeb;
  margin-top: -12px;
}

.catalog-items-pagination {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.catalog-items-page-number-list {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0;
  margin: 0;
  display: flex;
}

.catalog-items-direction:last-child a,
.catalog-items-direction:first-child a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-items-page-number {
  margin-left: 28px;
  opacity: 0.3;
}

.catalog-items-page-number.page-number-1 {
  margin-left: 17px;
}

.catalog-items-page-number:hover {
  opacity: 0.6;
}

.catalog-items-page-number:active,
.catalog-items-page-number.active-number {
  opacity: 1;
}

.catalog-items-page-number a,
.catalog-items-direction-link {
  color: #000000;
}

.catalog-items-direction-link:hover {
  background-color: #d9d9d9;
}

.catalog-items-direction-link:active {
  opacity: 0.3;
}

          /*   Подвал контент <Footer>*/

.main-footer-middle,
.main-footer-bottom,
.main-footer-user-menu,
.main-footer-middle-features,
.main-footer-social-list {
  display: flex;
}

.main-footer-user-menu-list {
  list-style: none;
  display: flex;

}

.main-footer-user-menu-list,
.main-footer-user-menu {
  margin: 0;
  padding: 0;
}

.main-footer-user-menu {
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.wrapper-footer {
  width: 1160px;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer-top {
  margin-bottom: 23px;
}

.main-footer-top.main-footer-top-inner-page {
  margin-bottom: 28px;
}

.main-footer-logo {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
}

.main-footer-logo-link:hover {
  opacity: 0.6;
}

.main-footer-logo-link:active {
  opacity: 0.3;
}

.main-footer-user-menu-item.cart {
  padding-left: 60px;
}

.main-footer-user-menu-item.compare {
  padding-left: 60px;
}

.main-footer-user-menu-link {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: -0.01em;
  opacity: 0.7;
  font-weight: 300;
}

.main-footer-user-menu-item.login-link .main-footer-user-menu-link::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  left: -23px;
  top: 6px;
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
}

.main-footer-user-menu-item.compare .main-footer-user-menu-link::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  left: -23px;
  top: 6px;
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
}

.main-footer-user-menu-item.cart .main-footer-user-menu-link::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  left: -23px;
  top: 6px;
  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
}

.main-footer-user-menu-login-item:nth-child(1) .name::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  left: -23px;
  top: 6px;
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
}

.main-footer-user-menu-link.exit {
  opacity: 0.3;
  margin-left: 20px;
}

.main-footer-user-menu-link:hover {
  opacity: 1;
}

.main-footer-user-menu-link:active {
  opacity: 0.3;
}

.main-footer {
  min-height: 323px;
  background-color: #464646;
  color: #ffffff;
}

.main-footer-middle {
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 63px;
}

.main-footer-user-menu,
.main-footer-middle-features,
.main-footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer-social-list {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.main-footer-social-item.item-twitter {
  margin-left: 22px;
}

.main-footer-social-item.item-insta {
  margin-left: 22px;
}

.main-footer-user-menu a,
.main-footer-middle-features a,
.main-footer-social-list a,
.logo-html-academy {
  color: #ffffff;
}

.main-footer-middle-features a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.main-footer-middle-features a:hover {
  opacity: 0.6;
}

.main-footer-middle-features a:active {
  opacity: 0.3;
}

.main-footer-middle-features {
  margin-top: 6px;
  min-width: 430px;
  justify-content: space-between;
  align-items: flex-end;
}

.main-footer-middle-phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -0.017em;
  margin-left: 0 auto;
  padding-left: 42px;
}

.main-footer-middle-address {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -0.017em;
  margin-right: 0 auto;
}

.main-footer-user-menu-list {
  padding: 0;
}

.main-footer-social {
  position: relative;
  width: 1160px;
}

.main-footer-social:before {
  position: absolute;
  content: "";
  top: 14px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer-social-link {
  position: relative;
}

.main-footer-social-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-footer-social-link {
  opacity: 0.3;
}

.main-footer-social-link:hover {
  opacity: 0.6;
}

.main-footer-social-link:active {
  opacity: 0.1;
}

.logo-html-academy {
  position: relative;
  margin: 0;
  padding: 0;
  width: 27px;
  height: 35px;
}

.logo-html-academy::after {
  content: "";
  position: absolute;
  top: -23px;
  left: -27px;
  width: 27px;
  height: 35px;
  background-image: url(../img/logo-html-footer.svg);
  background-repeat: no-repeat;
}

.logo-html-academy:focus {
  outline: 1px solid rgb(160, 248, 248);
}

.logo-html-academy:hover {
  opacity: 0.6;
}

.logo-html-academy:active {
  opacity: 0.3;
}

                   /*  Попап Напишите нам  */
.pop-up-label-value {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.write-to-us {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  width: 960px;
  min-height: 553px;  /* 553px 458 */
  padding-top: 95px;
  box-shadow: 0 10px 20px 10px rgba(4,6,6,0.2);
  background-color: #fff;
  background-repeat: no-repeat;
  z-index: 8;
}

.write-to-us-form {
  display: flex;
  flex-wrap: wrap;
  min-width: 720px;
  min-height: 270px;
  margin-bottom: 40px;
  margin-left: 100px;
}

.pop-up-text {
  min-width: 320px;
  height: 18px;
  margin-bottom: 64px;
  font: inherit;
}

.write-to-us-item-email .pop-up-text,
.write-to-us-item-email .pop-up-label-value {
  margin-left: 40px;
}

.pop-up-textarea {
  min-width: 720px;
  min-height: 156px;
  resize: none;
}

.pop-up-text,
.pop-up-textarea {
  background-color: #f2f2f2;
  border: none;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.pop-up-text:hover,
.pop-up-textarea:hover {
  background-color: #eaeaea;
  border: none;
}

.pop-up-text:focus,
.pop-up-textarea:focus {
  background-color: #ffffff;
  outline-color: #f0c52e;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

.pop-up-text:invalid,
.pop-up-textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.pop-up-label-value {
  display: block;
  margin-bottom: 10px;
}

.write-to-us-form-item input::placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.write-to-us-form-item textarea::-webkit-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.pop-up-close {
  position: absolute;
  content: "";
  top: 23px;
  right: 20px;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width:55px;
  height:55px;
  border: none;
  opacity: 0.5;
}

.pop-up-close:hover {
  opacity: 1;
}

.pop-up-close:active {
  opacity: 0.3;
}

.pop-up-submit {
  background-color: #ffffff;
  margin-left: 100px;
}

                  /* Попап  Карта с нашим адресом  */

.map-pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 960px;
  min-height: 559px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(4,6,6,0.2);
  z-index: 7;
}

.map-pop-up iframe {
  border: none;
}

.map-image-no-js {
  background-image: url(../img/map-big.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

                        /*  Служебные классы  */

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*      этот вариант для слабаков
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}                   */
