/*
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
*/

                      /*    Общие стили для всей страницы     */


body {
  padding: 0;
  margin: 0;
  font-family: Gilroy , Arial, Sans-Serif ;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;


}

      /*  Шапка  --Header-- */

.wrapper {
  background-color: #f7e296;
  margin-top: 40px;

  position: relative;
}

.main-nav-logo {
  position: absolute;
  top: -18px;
  left: 60px;
}


               /* Слайдер  */
.slider-item {
  width: 1069px;
  height: 486px;

}

.slider-item-headline {
  font-size: 47px;
  margin-left: 600px;
  line-height: 56px;
}

.slider-item p {
  font-size: 15px;
  margin-left: 600px;
}

.slider-item a {
  font-size: 18px;
  margin-left: 600px;
}

.slider-item table {
  margin-left: 600px;
}

.slider-item-1 {
  background-image: url('../img/slider-1.png');
  background-repeat: no-repeat;
  background-position: 10% 0;
}

.slider-item-2 {
  background-image: url('../img/slider-2.png');
  background-repeat: no-repeat;
  background-position: 15% 0;
 }

 .slider-item-3 {
  background-image: url('../img/slider-3.png');
  background-repeat: no-repeat;
  background-position: 5% 0;
 }

.slider-item-data-column
.value {
  font-size: 36px;
  line-height: 48px;
}

.slider-item-data-column
.description {
  font-size: 13px;
  line-height: 20px;
}

/*   Главный контент <Main>  */

.catalog-item  {
  background-color: #f7e296;
}

.catalog-item .item-1 {
  background-image: url('../img/popular-1.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item .item-2 {
  background-image: url('../img/  ');
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item .item-3 {
  background-image: url('../img/  ');
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item .item-4 {
  background-image: url('../img/  ');
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item .item-5 {
  background-image: url('../img/  ');
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item .item-6 {
  background-image: url('../img/  ');
  background-repeat: no-repeat;
  background-position: center center;
}








/*   Подвал контент <Footer>  */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}


